<section class="card">
      <header>{{name}}</header>
          <header>{{artists}}</header>
  {{!-- <a href="/gallery/{{name}}">

    <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}">
  </a> --}}
</section>